@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #0f172a; /* slate-900 */
    font-family: 'Roboto', sans-serif;
    touch-action: none; /* prevent browser zooming/scrolling on mobile */
  }
}

@layer utilities {
  .font-fantasy {
    font-family: 'Cinzel', serif;
  }
}

