apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: color-jelly-rush

resources:
  - ../../base

namePrefix: prod-

commonLabels:
  environment: production

replicas:
  - name: color-jelly-rush
    count: 3

images:
  - name: ghcr.io/eilodon/color-jelly-rush
    newTag: stable

patches:
  - target:
      kind: Deployment
      name: color-jelly-rush
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: 512Mi
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/cpu
        value: 500m
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: 1Gi
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: 1000m
      - op: replace
        path: /spec/strategy/rollingUpdate/maxSurge
        value: 25%
      - op: replace
        path: /spec/strategy/rollingUpdate/maxUnavailable
        value: 10%
  - target:
      kind: HorizontalPodAutoscaler
      name: color-jelly-rush
    patch: |-
      - op: replace
        path: /spec/minReplicas
        value: 3
      - op: replace
        path: /spec/maxReplicas
        value: 20
      - op: replace
        path: /spec/metrics/0/resource/target/averageUtilization
        value: 60
      - op: replace
        path: /spec/behavior/scaleDown/stabilizationWindowSeconds
        value: 600
