apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: color-jelly-rush-staging

resources:
  - ../../base

namePrefix: staging-

commonLabels:
  environment: staging

replicas:
  - name: color-jelly-rush
    count: 1

images:
  - name: ghcr.io/eilodon/color-jelly-rush
    newTag: develop

patches:
  - target:
      kind: Deployment
      name: color-jelly-rush
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: 128Mi
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/cpu
        value: 100m
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: 256Mi
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: 250m
  - target:
      kind: HorizontalPodAutoscaler
      name: color-jelly-rush
    patch: |-
      - op: replace
        path: /spec/minReplicas
        value: 1
      - op: replace
        path: /spec/maxReplicas
        value: 2
